@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand: #ffad1f;
}

body {
  @apply bg-gray-800;
}

.btn {
  @apply font-black text-3xl py-2 px-4 rounded-full;
  transition: all 0.15s ease-in;
  &:hover {
    transform: scale(1.05);
  }
  &:focus {
    @apply outline-none;
  }
}
.btn-cta {
  @apply bg-green-500 text-white py-3 px-5;
  &:hover {
    @apply bg-red-500;
  }
}
